@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700,300');
@import url('//fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('//fonts.googleapis.com/css?family=Raleway');
@import'../bower_components/foundation/scss/foundation/settings';
@import'../bower_components/foundation/scss/foundation';
@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}) {
        .grid-#{$col}-#{$width}{
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */
html {
    background: url('./emma.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
html::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
html, body {
    height: auto !important;
}
body {
    min-height: 100vh;
    transition: opacity .25s ease;
    background-color: transparent;
}
.header {
    width: 100%;
    background: rgba(10, 197, 244, 1);
    z-index: 1;
}

//**********FOOTER**********
.footer {
    margin-top: 10em;
    position: relative;
    background: rgba(10, 197, 244, 1);
}
.icons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: .25rem .5rem;
}
#facebookicon, #twittericon,
#instagramicon {
    color: white;
}

//******VET LOGIN HYPERLINK AND ARROW*******//
#vetlink {
    position: relative;
    padding: .5rem 1rem;
}
#vetlink h4 {
    margin: 0;
}
#vetlink a {
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
    font-size: 1rem;
}
img#arrow {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -120%);
    max-width: 125px;
    max-height: 125px;
}
//******MAIN PAGE HEADER TITLE********//
p#header {
    color: white;
    font-family: 'Open Sans';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .25rem;
    margin-left: 2rem;
}

.links{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
    padding: .25rem .5rem;
}

@media all and (max-width: 775px) {
    .links { 
        display: none;
    }
}

#faqs, #about, #contact {
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
}

//*******MAIN PAGE SLOGANS*********//
.slogans {
    padding: 2em 0 2.8em 0; //padding was 2em 0 2.8em 0; (gets footer to be on the page versus right off)
    font-family: 'Lato';    //other option was padding 7em 0 1.5em 0; (gets header right off page)
    font-weight: 300;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}
.slogans p {
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 1em;
    color: white;
}
.sloganone {
    // margin-top: 7.5%;
    // z-index: -1;
}
.slogantwo {
    // left: 40%;
    // margin-top: 12.5%;
    // z-index: -1;

    p {
        font-weight: 400;
        font-style: italic;
    }
}
.sloganthree {
    // left: 60%;
    // margin-top: 17.5%;
    p {
        font-weight: 700;
    }
}
//*********VETLOGIN EXPLANATION OF WHY HOW WHEN ETC**********//
h3 {
    font-family: 'Open Sans', sans-serif;
}
div.transparent {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 6rem;
    display: block;
    -ms-transform: translate(-50%, -50%);
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.6);
    font-family: 'Open Sans', sans-serif;
    padding: .5rem 1rem .5rem 1rem;
}
//*******SCHEDULE FORM********//
h3#scheduleheader {
    padding: .5rem;
}
input#apptreason {
    margin-top: .5rem;
}
#userschedulebutton {
    //background-color: #2D4E57;
    border-radius: 15px;
    background: rgba(45, 78, 87, .7);
    color: white;
    max-height: 50px;
    line-height: 0;
    font-family: 'Open Sans';
    font-style: italic;
}
#submitemailtovet {
    //background-color: #2D4E57;
    border-radius: 15px;
    background: rgba(45, 78, 87, .7);
    color: white;
    max-width: 130px;
    max-height: 50px;
    margin-top: .5rem;
    font-family: 'Open Sans';
    font-style: italic;
}
.transparentform {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    animation: fadeIn .25s ease both;
}
//********POPUP BOX UPON SUBMITTING SCHEDULE FORM*********//
p.thankyou {
    //display: none;
    // margin: 0 auto;
    text-align: center;
    color: black;
    padding-top: .5rem;
}
div#myModal {
    //max-width: 960px;
    //margin: 0 auto;
    //display: block;
    //-ms-transform: translate(-50%,-50%);
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
button#homepage {
    border-radius: 15px;
    background-color: #2D4E57;
    color: white;
    margin: 0 auto;
    max-width: 200px;
    font-family: 'Open Sans';
    font-style: italic;
}
//*********MAIN SEARCH CONTAINER BOX ON HOMEPAGE*******//
.searcharea {
    padding-top: 5em;
}
.search-container {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.search-container > div {
    width: 100%;
    padding-right: 65px;
}
.search-icon {
    position: absolute;
    height: 65px;
    width: 65px;
    top: 0px;
    right: 0px;
    display:inline-block;
    background-image: url(../images/search-icon.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    font-size: 1em;
    border: 2px solid white;
    outline: none;
    &:focus {
        border: 2px solid black;
        transition: 0.35s ease;
        color: black;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}
.searchitem {
    max-width: 960px;
    margin: 0 auto;
    padding-right: 65px;
}
//********VET SEARCH BOX TO OPT IN ON VETLOGIN PAGE********//
.vet-search-container {
    max-width: 960px;
    display: block;
    margin: 0 auto;
}

//*******MAIN SEARCH BOX AND VET SEARCH BOX (SHARE SAME PROPERTIES)********//
#vetsearchbar {
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    font-size: 1em;
    border: 2px solid white;
    -ms-transform: translate(-50%, -50%);
    display: block;
    outline: none;
    &:focus {
        border: 2px solid black;
        transition: 0.35s ease;
        color: black;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}
//*******MAIN INPUT BOX FOR VETS EMAIL WHEN THEY OPT IN********//
input#vetemailaddress {
    max-width: 500px;
    height: 40px;
    font-size: 14px;
    border: 2px solid black;
    outline: none;
    &:focus {
        border: 2px solid black;
        transition: 0.35s ease;
        color: black;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}
#vetsubmitbutton {
    border-radius: 15px;
    width: 130px;
    height: 60px;
    background-color: #2D4E57;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans';
    font-style: italic;
}
#vetconfirmemail {
    border-radius: 15px;
    background-color: #2D4E57;
    color: white;
    font-family: 'Open Sans';
    font-style: italic;
    margin: .5em .5em .5em .5em;
}
div.transparentlistings {
    border-radius: 15px;
    display: block;
    //border: 2px solid white;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5em;
    margin-left: 5em;
}
div.transparentoptins {
    display: block;
    max-width: 960px;
    // border: 2px solid white;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    animation: fadeIn .25s ease both;
    padding: 1rem;
}

/**
 * animations
 */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-2em); }
    100% { opacity: 1; transform: translateY(0); }
}
