<div>

    <form id="emailform" class="transparentform">

        <h3 id="scheduleheader">Schedule Form</h3>

        <input required type="text" name="name" placeholder="Your name" value="John Smith">
        <input required type="number" name="number" placeholder="Your phone number" value="7139876543">
        <input required type="email" name="email" placeholder="Your e-mail address" value="johnsmith@example.com">

        <h6>Preferred appointment date:</h6>

        <input required type="date" name="date">

        <h6>Type of pet:</h6>

        <select required name="animal">
            <option value="Cat" selected>Cat</option>
            <option value="Dog">Dog</option>
            <option value="Other">Other</option>
        </select>

        <input required id="apptreason" type="text" name="reason" placeholder="Reason for appointment?" value="My pet needs his vaccines.">

        <h6>Morning or afternoon appointment?</h6>

        <select required name="appt">
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
        </select>

        <br>
        <input type="submit" value="Submit to Vet" id="submitemailtovet" data-reveal-id="myModal">

        <!-- <p class="thankyou">Thank you, your appointment request has been sent.</p> -->

    </form>

    <!-- <button>Submit to Vet</button> -->
</div>
