<div class="slogans">
        <div class="sloganone">
            <p>Find a vet.</p>
        </div>
        <div class="slogantwo">
            <p>Schedule an appointment.</p>
        </div>
        <div class="sloganthree">
            <p>Be at ease.</p>
        </div>
    </div>


<form id="searchform" class="search-container">
    <div>
        <input type="text" id="search-bar" value="{searchTerm}" placeholder="Search by clinic name or zip code">
    </div>
    <a href="#" class="search-icon"></a>
</form>