<div class="page vetlogin" id="vetlogin">
    <form>
        <div>
            <input required name="business" placeholder="What vet are you searching for?">
        </div>
        <button>Submit</button>
    </form>

<!-- <h3>{name}</h3> -->

</div>


<!--     <div class="page vetlogin" id="vetlogin">
        <form>
        <div><input required name="username" placeholder="username"></div>
        <div><input required name="password" placeholder="password"></div>
        <button>Submit</button>
        </form>
    </div> -->
